
@media (max-width:800px){
  .mobile-page-currency-control select{
    height:26px !important;
    min-height:26px !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
    line-height:26px !important;
    box-sizing:border-box !important;
    vertical-align:middle !important;
  }
}
